body{
    font-family:Arial;
    text-align:center;
    padding:40px;
    background:#eef2f3;
}

input{
    padding:10px;
    width:200px;
}

button{
    padding:10px 20px;
    margin:5px;
}

#banner{
    margin:20px;
    font-size:24px;
    font-weight:bold;
}

.win{
    color:green;
}

.lose{
    color:red;
}